body {
  background-color: #e4f9ff;
}

.topic {
  background-color: #204051;
  color: #14b1ab;
}

h1 {
  color: #05dfd7;
}

h2 {
  color: #14b1ab;
}
h3{
  color: #14b1ab;
}

hr {
  height: 0;
  width: 15%;
  border-style: dashed;
  border-width: 2px;
  border-color: #a3f7bf;
}
li{
  color: #0fabbc;
}
td{
  color: #0fabbc;
}
p{
  color: #0fabbc;
}
label{
  color: #0779e4;
}

.hobbies{
  font-size:x-large;
}
#button{
  color:white;
  background-color: #342ead;
}
